.element{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform .2s;
    max-width: 282px;
}